# ===== Common to all languages ======
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
        args: []
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: no-commit-to-branch
        stages: [pre-commit]
      - id: check-executables-have-shebangs
        stages: [pre-commit]
      - id: check-merge-conflict
        stages: [pre-commit]
      - id: check-toml
        stages: [pre-commit]
      - id: trailing-whitespace
        stages: [pre-commit]
      - id: end-of-file-fixer
        stages: [pre-commit]
      - id: check-added-large-files
        stages: [pre-commit]
      - id: check-case-conflict
        stages: [pre-commit]
      - id: check-symlinks
        stages: [pre-commit]
  - repo: http://github.com/Lucas-C/pre-commit-hooks-markup
    rev: v1.0.1
    hooks:
      - id: rst-linter
        stages: [pre-commit]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        name: Prettier
        files: \.(yml|yaml|json|md)$
        args:
          - --tab-width=2
          - --use-tabs=false
          - --cache-location=.prettier_cache
        stages: [pre-commit]
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
        stages: [pre-commit]
      - id: remove-crlf
        stages: [pre-commit]
      - id: forbid-tabs
        stages: [pre-commit]
      - id: remove-tabs
        stages: [pre-commit]
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.10
    hooks:
      - id: actionlint
  - repo: https://github.com/ibm/detect-secrets
    rev: 0.13.1+ibm.64.dss
    hooks:
      - id: detect-secrets
        args: [--baseline, .secrets.baseline, --use-all-plugins]

  # ==== Java-specific hooks ====
  - repo: local
    hooks:
      # 1. Spotless: The most reliable way to run Checkstyle/Formatters in pre-commit
      - id: spotless-check
        name: Spotless Check
        entry: ./gradlew spotlessCheck # or './mvnw spotless:check'
        language: system
        files: \.java$
        pass_filenames: false
        stages: [pre-push]
